.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: #2E2F42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.menu-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf
}

.address {
    font-style: normal:
}

.adress-link {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:focus {
    color: #404bbf
}

.section-1 {
    background: #2E2F42;
}

button {
    cursor: pointer;
    background: #4D5AE5;
    width: Hug (169px);
    height: Hug (56px);
    top: 428px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
    align: center;
}

.button-order{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
}

h1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
}

h2 {
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

/*Section three*/
.section-three-fon {
    background-color: #F4F4FD;
}

.section-three-maintext {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #F4F4FD;
    text-align: center;
    text-transform: capitalize;
}

.section-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.section-three-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

/*Section four*/
.section-four {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
}

.section-four-maintext {
    color: #2E2F42;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-four-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background: #2E2F42;
    width: 1440px 
    height: 312px 
    top: 2988px
}

.p-footer {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.studio-1  {
    color: #F4F4FD;
}